html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
pre,
abbr,
img,
strong,
center,
blockquote,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
caption,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
}

hr {
  margin: 0;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

/* HTML5 display-role reset for older browsers */
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
