/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $primary-color $primary-background-color;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $primary-background-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 20px;
  border: 2px solid $primary-background-color;
}
