html {
  font-size: $base-size;
  scroll-behavior: smooth;
  font-family: $font-primary;
}

a {
  background-color: transparent;
  border: none;
  color: $text-link-color;
  text-decoration: none;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color;
}
