$side-padding: 16px;
$horizontal-gap: 16px;
$column-width: 96px;

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, $column-width);
  gap: 0 $horizontal-gap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 $side-padding;

  @include media-query("xxlarge") {
    grid-template-columns: repeat(11, $column-width);
  }

  @include media-query("xlarge") {
    grid-template-columns: repeat(9, $column-width);
  }

  @include media-query("large") {
    grid-template-columns: repeat(6, $column-width);
  }

  @include media-query("medium") {
    grid-template-columns: repeat(5, $column-width);
  }

  @include media-query("small") {
    grid-template-columns: repeat(1, 1fr);
  }
}
