$primary-color: #fdb933;
$secondary-color: #008b90;

$primary-background-color: #ffffff;
$secondary-background-color: #f4f5f7;
$tertiary-background-color: #fff3db;

$primary-border-color: #c8c8cc;

$text-color: #333333;
$text-color-light: #57575c;
$text-color-huge-light: #ffffff;
$text-link-color: #008b90;
$text-subtitle-color: #d99f2c;

$button-background-color: rgb(252, 188, 52);
$button-background-color-hover: rgb(249, 171, 4);
$button-text-color: #ffffff;

$horizontal-border-color: #e2e2e5;

$loading-background-color: #d0d0d0;
$loading-animation-color: #d9d9d9;
