$base-size: 16px;

$default-size: calc(16px / $base-size) + rem;
$small-size: calc(20px / $base-size) + rem;
$medium-size: calc(24px / $base-size) + rem;
$large-size: calc(26px / $base-size) + rem;
$extra-large-size: calc(30px / $base-size) + rem;
$huge-size: calc(80px / $base-size) + rem;

$medium-line-height: calc(24px / $base-size) + rem;
$extra-large-line-height: calc(26px / $base-size) + rem;
$extra-huge-large-line-height: calc(28px / $base-size) + rem;
$huge-line-height: calc(30px / $base-size) + rem;
$huge-large-line-height: calc(32px / $base-size) + rem;

$font-primary: var(--font-museo-sans);
